body {
  max-width: 600px;
  margin: 0 auto;
}

.one {
  background: pink;
  border: 3px solid blue;
  /* CHANGE BELOW */ 
  padding: 32px; /* changed from padding: 36px;*/
  margin: 12px; /* changed from margin: 36px;*/
}

.two {
  background: lightblue;
  border: 3px solid purple;
  /* CHANGE BELOW */
  margin-bottom: 48px; /* no change needed */
}

.three {
  background: peachpuff;
  border: 3px solid brown;
  width: 200px;
  /* CHANGE BELOW */ 
  padding: 32px; /* changed from padding: 36px;*/
  margin-left: auto; /* changed from margin: 36px;*/
}